@charset "utf-8";

.productInfoSection .productCont {
  position: static;
  max-width: none;
  padding: 0 16px;
}
.mainImg {
  width: 100%;
}
.mainImg > img {
  width: 100%;
}
.detailImg {
  margin-top: 12px;
}
.detailImg .swiper-wrapper {
  padding-bottom: 8px;
}
.detailImg .swiper-slide {
  width: 100px;
  cursor: pointer;
}
.detailImg .swiper-slide > img {
  width: 100%;
}
#main .detailImg .swiper-scrollbar {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#main .detailImg .swiper-scrollbar-drag {
  background: var(--orange2);
}
.productInfoSection .productInfoWrap {
  margin-top: 50px;
}
.productInfoSection .productInfoWrap .brand {
  font-size: 20px;
}
.productInfoSection .productInfoWrap .name {
  margin-top: 14px;
  font-size: 16px;
}
.productInfoSection .productInfoWrap .price {
  margin-top: 12px;
  font-size: 20px;
}
.productInfoSection .optionContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}
.productInfoSection .optionWrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 26px;
}
.productInfoSection .optionWrap .optionTit {
  text-transform: capitalize;
  font-size: 16px;
}
.productInfoSection .optionWrap .optionListWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.optionListWrap .optionList input {
  display: none;
}

.optionWrap .optionList .radioBox {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #dedede;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: 300ms;
}
.optionWrap.size .optionList input[type="radio"]:checked + .radioBox {
  background: var(--gray1);
  color: #fff;
}

.productDetailContainer .optionWrap.color .optionList {
  position: relative;
}
.optionWrap.color .optionList .radioBox > .color {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  line-height: 1;
  font-size: 0;
}
.optionWrap.color .optionList input[type="radio"]:checked + .radioBox {
  border-color: var(--black);
}

.cartBtnWrap.mo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.cartBtnWrap.web {
  display: none;
}
.addCartBtn.detailAddCart {
  position: static;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 18px 16px;
  margin-top: 40px;
  background: var(--black);
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  transition: 300ms;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.productDetailContainer .addCartBtn.detailAddCart:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/icons/plus_w.svg") no-repeat center / cover;
}
.productDetailContainer .addCartBtn.detailAddCart:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: url("../images/icons/heart_w.svg") no-repeat center / cover;
}
.productDetailContainer .addCartBtn.detailAddCart:hover {
  background: #fff;
  color: var(--black);
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.productDetailContainer .addCartBtn.detailAddCart:hover:before {
  background-image: url("../images/icons/plus.svg");
}
.productDetailContainer .addCartBtn.detailAddCart:hover:after {
  background-image: url("../images/icons/heart_color.svg");
}
.productDescriptionSection {
  padding: 0 16px;
}
.productDescriptionSection .descriptionTit {
  text-transform: uppercase;
  font-size: var(--fsM);
  margin: 50px 0 30px;
}
.productDescriptionSection .imgList {
  margin-bottom: 25px;
}
.productDescriptionSection .imgList > img {
  width: 90%;
  margin: 0 auto;
}
.productDescriptionSection .careCont {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.productDescriptionSection .careCont .titIcon {
  width: 24px;
  margin-top: -2px;
}
.productDescriptionSection .careCont .titIcon > img {
  width: 100%;
}
.productDescriptionSection .careCont:not(:first-of-type) .titIcon > img {
  height: 21px;
}
.productDescriptionSection .careTextWrap {
  width: calc(100% - 22px);
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.productDescriptionSection .careCont:last-of-type .careTextWrap {
  border-bottom: none;
}
.productDescriptionSection .careTextWrap .careTit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
}
.productDescriptionSection .careTextWrap .careTit:after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  transition: 300ms;
  background: url("../images/icons/down.png") no-repeat center / contain;
}
.productDescriptionSection .careTextWrap .careTit.active:after {
  transform: rotate(180deg);
}
.productDescriptionSection .careTextWrap .careText {
  line-height: 1.4;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s;
}
.productDescriptionSection .careTextWrap .careText.active {
  padding-top: 12px;
  max-height: fit-content;
  opacity: 1;
}

.productDetailContainer .recommendProducts {
  padding: 80px 16px 50px;
}

/* 반응형 - tablet */
@media screen and (min-width: 659px) {
  .productDetailContainer {
    max-width: 1000px;
    margin: 0 auto;
  }
  .productInfoSection .productCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .productInfoSection .productImgWrap {
    width: 60%;
    max-width: 500px;
  }
  .productInfoSection .productInfoWrap {
    width: 40%;
    margin-top: 0;
  }
  .productInfoSection .productInfoWrap .name {
    line-height: 1.4;
  }
  .productInfoSection .optionContainer {
    display: block;
  }
  .productInfoSection .optionContainer .optionWrap.size {
    margin-top: 30px;
  }
  .productInfoSection .optionContainer .optionWrap.color {
    margin-top: 20px;
  }
  .cartBtnWrap.mo {
    display: none;
  }
  .cartBtnWrap.web {
    display: block;
    max-width: 300px;
  }
  .cartBtnWrap.web .addCartBtn.detailAddCart {
    padding: 12px 16px;
  }
  .productDescriptionSection {
    padding: 0 50px;
  }
  .productDescriptionSection .imgListWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    width: 85%;
    margin: 0 auto;
  }
  .productDescriptionSection .imgList {
    margin-bottom: 0;
  }
  .productDescriptionSection .imgList > img {
    width: 100%;
  }
  .productDescriptionSection .descriptionTit {
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) {
}

/* 반응형 - web */
@media screen and (min-width: 1023px) {
  .recommendProducts .productsWrap {
    justify-content: center;
  }
}
