@charset "utf-8";

.loginWrap {
  width: 100vw;
  height: 100vh;
  background: #e7eaef;
  overflow: hidden;
}
.loginCont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
}
.logo {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.logo > img {
  width: 100%;
}
#loginForm {
  width: 90%;
  margin: 0 auto;
  padding: 50px 30px 60px 30px;
  background: #fff;
  border-radius: 10px;
}
.inputWrap {
  margin-bottom: 14px;
}
.inputWrap:last-of-type {
  margin-bottom: 0;
}
.inputWrap input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.inputWrap input:focus {
  outline: none;
  border: 1px solid var(--gray4);
}
.inputWrap .errorText {
  display: none;
  padding-left: 5px;
  padding-bottom: 8px;
  font-size: 14px;
  color: var(--orange2);
}
.inputWrap:last-of-type .errorText {
  padding-bottom: 0;
}
.inputWrap.error > input,
.inputWrap.error > input:focus {
  border-color: var(--orange2);
}
.inputWrap.error > .errorText {
  display: block;
}
.loginBtn {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
.loginBtn:after,
.loginBtn:before {
  display: none;
}
