@charset "utf-8";
.addressSectionWrap {
  position: relative;
  padding: 0 16px;
}
.addressSectionWrap .sectionWrap {
  min-height: 100vh;
  padding-bottom: 50px;
}
.addressContainer input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}
.addressContainer input:focus {
  outline: none;
  border-color: var(--gray4);
}
.addressContainer .flexInput {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
.addressContainer .searchInput {
  position: relative;
}
.addressContainer .searchInput .searchBtn {
  position: absolute;
  top: 50%;
  right: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}
.addressContainer .searchInput .searchBtn:hover {
  border-color: var(--gray4);
}
.addressSectionWrap .sectionSubTit {
  padding: 70px 0 30px;
  font-size: 20px;
  text-transform: capitalize;
}
.addressSectionWrap .productsWrap {
  display: block;
  max-width: none;
  margin-top: 0;
}
.addressSectionWrap .productCont {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-bottom: 30px;
}
.addressSectionWrap .productInfoWrap .quantity {
  margin: 12px 0;
  font-size: var(--fsM);
}
.addressSectionWrap .radioWrap {
  margin-bottom: 18px;
}
.addressSectionWrap .radioWrap label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.addressSectionWrap .radioWrap input {
  display: none;
}
.addressSectionWrap .radioWrap input + .radioBox {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--gray4);
  border-radius: 50%;
}
.addressSectionWrap .radioWrap input:checked + .radioBox {
  background: url("../images/icons/radioCheck.svg") no-repeat center / 100%;
  background-size: 15px 15px;
}
.addressSectionWrap .emptyCartWrap {
  font-size: var(--fsL);
  text-align: center;
}

/* 팝업 */
.popWrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.popWrap.show {
  display: block;
}
.popCont {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  text-align: center;
}
.popCont .popTit {
  padding: 40px 0 35px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.popCont .aniWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.popCont .aniWrap > span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--orange2);
  animation: opacity 1.2s infinite ease-in-out;
}
.popCont .aniWrap > span:nth-of-type(1) {
  animation-delay: 200ms;
}
.popCont .aniWrap > span:nth-of-type(2) {
  animation-delay: 400ms;
}
.popCont .aniWrap > span:nth-of-type(3) {
  animation-delay: 600ms;
}
.popCont .aniWrap > span:nth-of-type(4) {
  animation-delay: 800ms;
}

@keyframes opacity {
  0%,
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.popCont .popText {
  padding: 40px 0 50px;
}
@media screen and (min-width: 1023px) {
  .addressSectionWrap .productInfoWrap {
    justify-content: space-between;
  }
  .addressSectionWrap .productInfoWrap .price {
    margin-top: 0;
    text-align: right;
  }
}
